@model SpeedTickets.Models.tblLocation

@{
	ViewBag.Title = "AddLocation";
}

<h2 style="font-weight:bold">Add Location</h2>

<hr />

<div style="font-weight:bold">@Html.ActionLink("View Locations","Index","Locations", new { @class = "btn btn-info" })</div>

<br />

@using (Html.BeginForm())
{
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<table class="table table-hover">
					<tr>
						<td><label>Location</label></td>
						<td>@Html.TextBoxFor(obj => obj.Location)</td>
					</tr>
				</table>
			</div>
			<input type="submit" name="name" value="Save Location" class="btn btn-success" />&ensp;
			<input type="button" name="name" value="Reset" class="btn btn-primary" />
		</div>
	</div>
}